{
  "extends": "@rocketseat/eslint-config/node",
  "env": {
    "jest": true
  },
  "plugins": ["simple-import-sort"],
  "rules": {
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}